window {
    padding: 0;
    border-radius: 10px;
    border: solid 1px #403d52; /* Rosé Pine "Highlight Med" for border */
    background: alpha(
        #191724,
        0.9
    ); /* Rosé Pine Base (dark) with transparency */
}

#container {
    margin: 10px;
}

image,
label {
    color: #e0def4; /* Rosé Pine "Base" (light text) */
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 5px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(#6e6a86, 0.3); /* Rosé Pine "Overlay" (muted) */
}

progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #f6c177; /* Rosé Pine "Gold" (accent for progress) */
}
